<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title></title>
</head>
<body class="body body--theme">
	<div class="wrapper ">
		<header class="header header--theme">
			<div class="header__logo logo">
				<img class="logo__img" src="img/logo.png" />
			</div>
			<div class="header__description">
				<span class="header1">Карточка договора</span>  
				<span class="header2">— редактирование</span> 
				<span class="header3">КАЗ-Д-15-218/06</span> 
				<span class="header4">— неактивный документ</span>
			</div>
			<div class="header__leng leng_switcher"><button class="leng_switcher__button button button--active">РУС</button> | <button class="leng_switcher__button button">ENG</button></div>
		</header>
		<main class="main main--theme">
			<nav class="navigation navigation_top">
				<div class="navigation_top__submenu">
					<ul class="navigation_top__list">
						<li class="navigation_top__item"><button class="navigation_top__button button button--save_as">СОХРАНИТЬ КАК ЧЕРНОВИК</button></li>
						<li class="navigation_top__item"><button class="navigation_top__button button button--save">СОХРАНИТЬ</button></li>
						<li class="navigation_top__item"><button class="navigation_top__button button button--make_lists">СФОРМИРОВАТЬ СПИСКИ</button></li>
						<li class="navigation_top__item"><button class="navigation_top__button button button--cancel">ОТМЕНА</button></li>
					</ul>
				</div>
				<div class="navigation_top__switcher side_panel__switcher">
					<button class="button side_panel__button">Показать все перечни</button>
					<button class="button side_panel__button">Скрыть все перечни</button>
				</div>
			</nav>
			<section class="content">
				<nav class="navigation navigation_left">
					<ul class="navigation_left__list">
						<li class="navigation_left__item navigation_left__item--active"><a class="navigation_left__link menu_header" href="#">ОСНОВНЫЕ РЕКВИЗИТЫ</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">ЮРИДИЧЕСКОЕ ЛИЦО</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">КОНТРАГЕНТ</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">СТОИМОСТЬ</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">ОТВЕТСТВЕННЫЕ</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">ХАРАКТЕРИСТИКИ ДОГОВОРА</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">ДОПОЛНИТЕЛЬНЫЕ ПАРАМЕТРЫ</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">СПЕЦИАЛЬНЫЕ ПРОЦЕДУРЫ</a></li>
						<li class="navigation_left__item"><a class="navigation_left__link menu_header" href="#">СПИСКИ ПОЛЬЗОВАТЕЛЕЙ</a></li>
					</ul>
				</nav>
				<div class="info">
					<div class="info__description"><span class="menu_header">ОСНОВНЫЕ РЕКВИЗИТЫ</span></div>
					<div class="info__content">
						<div class="basic_requisites">
							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Категория документа *</label><br />
								<span class="basic_requisites__value">Договоры/Договор</span>
							</div>
							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Орг. единица *</label><br />
								<select class="basic_requisites__selection select select--basic">
										<option>Русал Глобал Менеджмент 1</option>
										<option>Русал Глобал Менеджмент 2</option>
										<option>Русал Глобал Менеджмент 3</option>
										<option>Русал Глобал Менеджмент 4</option>
								</select>
							</div>
							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Смешанный характер *</label><br />
								<input type="radio" name="mixed" checked /><label>Да</label><br />
								<input type="radio" name="mixed" /><label>Нет</label>
							</div>
							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Вид документа *</label><br />
								<input class="basic_requisites__input" type="search" value="Договор на покупку материалов" />
							</div>
							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Рег. номер *</label><br />
								<input class="basic_requisites__input"  type="text" value="Договор на покупку материалов" />
							</div>
							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Заголовок документа *</label><br />
								<input class="basic_requisites__input"  type="text" value="Договор на покупку материалов" />
							</div>
							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Краткое описание *</label><br />
								<textarea class="basic_requisites__input">

								</textarea>			
							</div>
							<div class="basic_requisites__dates">
									<div class="basic_requisites__dates-item basic_requisites__number_of_contract">
											<label class="basic_requisites__description">Номер договора (на бумаге) *</label>
											<input class="basic_requisites__input"  type="text"/>
									</div>
									<div class="basic_requisites__dates-item basic_requisites__date_of_document">
											<label class="basic_requisites__description">Дата документа *</label>
											<input class="basic_requisites__input datapicker datapicker--basic"  type="date" data-date-inline-picker="true"/>
									</div>
									<div class="basic_requisites__dates-item basic_requisites__document_type">
										<label class="basic_requisites__description">Тип договорного документа *</label>
										<select class="basic_requisites__selection select select--basic">
												<option>15.10.2018</option>
												<option>15.10.2018</option>
												<option>15.10.2018</option>
												<option>15.10.2018</option>
										</select>
									</div>
									<div class="basic_requisites__dates-item basic_requisites__date_of_begin">
											<label class="basic_requisites__description">Дата начала действий *</label>
											<input class="basic_requisites__input datapicker datapicker--basic"  type="date" data-date-inline-picker="true"/>
										</div>

									<div class="basic_requisites__dates-item basic_requisites__main_contract">
										<label class="basic_requisites__description">Основной договор *</label>
										<input class="basic_requisites__input"  type="text"/>
									</div>
									<div class="basic_requisites__dates-item basic_requisites__date_of_finish">
										<label class="basic_requisites__description">Дата окончания действия *</label>
										<input class="basic_requisites__input datapicker datapicker--basic"  type="date"/>
									</div>

							</div>

							<div class="basic_requisites__item">
								<label class="basic_requisites__description">Характер сделки *</label><a href="#">СКРЫТЬ ПЕРЕЧЕНЬ</a><br />
								<input type="radio" name="deal_type" checked /><label>Доходная</label><br />
								<input type="radio" name="deal_type" /><label>Расходная без инвест. бюджета</label><br />
								<input type="radio" name="deal_type" /><label>Расходная с инвест. бюджетом</label><br />
								<input type="radio" name="deal_type" /><label>Встречная</label><br />
								<input type="radio" name="deal_type" /><label>Без платежей</label><br />
								<input type="radio" name="deal_type" /><label>Безвозмездная</label><br />
								<input type="radio" name="deal_type" /><label>Не предполагает оплаты, в т.ч. неустоек, потерь, indemnity</label><br />								
							</div>





							

						</div>
					</div>
						
				</div>
				<nav class="navigation navigation_right navigation_right--open">
					<div class="extended_menu">
						<ul class="extended_menu__list">
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">СОХРАНИТЬ КАК ЧЕРНОВИК</a></li>
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">СОХРАНИТЬ</a></li>
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">ОТМЕНИТЬ</a></li>
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">ПРОВЕРИТЬ</a></li>
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">ДОБАВИТЬ ФАЙЛ</a></li>
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">СФОРМИРОВАТЬ СПИСКИ</a></li>
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">СКОПИРОВАТЬ ДОКУМЕНТ</a></li>
							<li class="extended_menu__item"><a class="extended_menu__link menu_header" href="#">УДАЛИТЬ</a></li>
						</ul>
					</div>

					<div class="document_status">
						<h3 class="document_status__header">СТАТУС ДОКУМЕНТА</h3>
						<p class="document_status__status">Неактивный</p>
						<a href="#" class="document_status__link">АКТИВИРОВАТЬ</a>
					</div>
					<div class="contractor">
							<h3 class="contractor__header">ОТВЕТСТВЕННЫЙ ЗА ЗАКЛЮЧЕНИЕ</h3>
							<p class="contractor__status">Константинопольский К.К.</p>
							<a href="#" class="contractor__link">ИЗМЕНИТЬ</a>
					</div>
					<div class="add_document_menu">
							<h3 class="add_document_menu__header">ДОБАВЛЕНИЕ СВЯЗАННОГО ДОКУМЕНТА</h3>
							<ul class="add_document_menu__list">
								<li class="add_document_menu__item"><a href="#" class="add_document_menu__link">КОММЕНТАРИЙ</a></li>
								<li class="add_document_menu__item"><a href="#" class="add_document_menu__link">ССЫЛКА НА ДОКУМЕНТ</a></li>
								<li class="add_document_menu__item"><a href="#" class="add_document_menu__link">ПОДЧИНЕННЫЙ ДОКУМЕНТ</a></li>
								<li class="add_document_menu__item"><a href="#" class="add_document_menu__link">ПОРУЧЕНИЕ</a></li>
								<li class="add_document_menu__item"><a href="#" class="add_document_menu__link">ПОРУЧЕНИЕ СПИСКОМ</a></li>
								<li class="add_document_menu__item"><a href="#" class="add_document_menu__link">УВЕДОМЛЕНИЕ</a></li>
							</ul>	
					</div>
					<div class="document_reports">
							<h3 class="document_reports__header">ОТЧЕТЫ ПО ДОКУМЕНТУ</h3>
							<ul class="document_reports__list">
								<li class="document_reports__item"><a href="#" class="document_reports__link">Лист согласования</a></li>
								<li class="document_reports__item"><a href="#" class="document_reports__link">Версии файлов</a></li>
								<li class="document_reports__item"><a href="#" class="document_reports__link">Расчет сумм</a></li>
								<li class="document_reports__item"><a href="#" class="document_reports__link">Все док-ты сделки</a></li>
								<li class="document_reports__item"><a href="#" class="document_reports__link">Сводный лист</a></li>
								<li class="document_reports__item"><a href="#" class="document_reports__link">Связанные документы</a></li>
								<li class="document_reports__item"><a href="#" class="document_reports__link">Акты договора</a></li>
								<li class="document_reports__item"><a href="#" class="document_reports__link">Суммы ИБ по годам</a></li>
							</ul>	
					</div>
					<div class="support">
							<h3 class="support__header">ПОМОЩЬ</h3>
							<ul class="support__list">
								<li class="support__item"><a href="#" class="support__link">ЗАПРОС АДМИНИСТРАТОРУ</a></li>
							</ul>	
					</div>
						

					</nav>

			</section>
			
		</main>
			
		<footer class="footer footer--theme">
			<p>Footer</p>
		</footer>

	</div>

</body>
</html>
