.leng-switcher{
    color: $text_color--secondary_help;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &__divider{
        width: 1px;
        height: 14px;
        box-sizing: content-box;
        margin: 0 2px;
        background-color: $text_color--secondary_help;
    }
    &__button{
        color: $text_color--secondary_help;
        padding: 5px 2px;
        position: relative;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.7em;
        text-transform: uppercase;
    
      
        &--active{
          color: $text_color--link;
        }
    }


}
