@import "main-theme.scss";
@import "navigation_top/navigation_top.scss";
@import "content/content.scss";
.main{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}