@import "navigation_right-theme.scss";
@import "extended_menu/extended_menu.scss";
@import "document_status/document_status.scss";
@import "contractor/contractor.scss";
@import "add_document_menu/add_document_menu.scss";
@import "document_reports/document_reports.scss";
@import "support/support.scss";

.navigation_right{
    box-sizing: border-box;
    width: 0px;
    height: 100%;
    transition: 0.5s; 
    overflow: hidden;
}
