.navigation-right--theme{
    border-left: 1px solid #ebebeb;
    padding-left: 10px;
    font-size: 0.8em;
}
.navigation-right--open{
    width: 240px;
    min-width: 240px;
    flex-basis: 240px;
    transition: 0.5s; 
}