@font-face {
    font-family: "Roboto-Medium";
    src: url("Roboto-Medium.ttf");    
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto-Regular.ttf");    
}

@font-face {
    font-family: "Roboto-Light";
    src: url("Roboto-Light.ttf");    
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto-Bold.ttf");    
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('MaterialIcons-Regular.woff2') format('woff2'),
         url('MaterialIcons-Regular.woff') format('woff'),
         url('MaterialIcons-Regular.ttf') format('truetype');
}