@import "navigation_left/navigation_left.scss";
@import "navigation_right/navigation_right.scss";
@import "info/info.scss";


.content{
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start; 
}