.header_description{
    font-size: 1em;
    &--name{
        margin: 0;
        padding: 0 5px;
        font-size: 1.2em;
        font-weight: 500;
        color:$text_color--link;
    }
    &--action{
        @extend .header_description--name;
        font-weight: 400;

    }
    &--number{
        @extend .header_description--name;
        font-size: 0.9em;
        color:$text_color--primary_dark;

    }
    &--status{
        @extend .header_description--name;
        font-weight: 400;
        font-size: 1.0em;
        color:$text_color--primary_dark;

    }
}