.header-description{
    
    &--theme-name{
        margin: 0;
        padding: 0 5px;
        font-size: 1.2em;
        font-weight: 500;
        color:$text_color--link;
    }
    &--theme-action{
        @extend .header-description--theme-name;
        font-weight: 400;
    }
    &--theme-number{
        @extend .header-description--theme-name;
        font-size: 0.9em;
        color:$text_color--primary_dark;
    }
    &--theme-status{
        @extend .header-description--theme-name;
        font-weight: 400;
        font-size: 1.0em;
        color:$text_color--primary_dark;
    }
}