.icon{
  position: relative;
  padding-left: 15px;

  &--save{
    &::before{
      top: -2px;
      left: 2px;
      position: absolute;
      content: "\02611";
      display: block;
      color: $text_color--link;
    }
  }
  &--save_as{
    &::before{
      top: -2px;
      left: 2px;
      position: absolute;
      content: "\02752";
      display: block;
      color: $text_color--link;
    }
  }
  &--make_lists{
    &::before{
      top: -2px;
      left: 2px;
      position: absolute;
      content: "\02630";
      display: block;
      color: $text_color--link;
    }
  }
  &--cancel{
    &::before{
      top: -2px;
      left: 2px;
      position: absolute;
      content: "\021B6";
      display: block;
      color: $text_color--link;
    }
  }
}