.content {
    width: 100%;
    border-left: $border;
    border-right: $border;
    // margin-left: 252px;
    // margin-top: $header-height + $action-panel-height;
    overflow-y: scroll;

    @include modif (has-error) {
        margin-top: $header-height + $action-panel-height + 70px;
    }
}