.datapicker{
   appearance: none;
  -webkit-appearance: none;
  -moz-appearance:none;
  //padding-right: 20px;
  background: url(https://cdn2.iconfinder.com/data/icons/font-awesome/1792/calendar-512.png) no-repeat 97% 50%;
  background-size: 14px;

}
[type="date"]::-webkit-inner-spin-button {
  display: none;

 
}
[type="date"]::-moz-inner-spin-button {
  display: none;


}
[type="date"]::-inner-spin-button {
  display: none;


}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
[type="date"]::-moz-calendar-picker-indicator {
  opacity: 0;
}
[type="date"]::-calendar-picker-indicator {
  opacity: 0;
}