.navigation{
  box-sizing: border-box;

  &_top{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 48px;
    width: 100%;
    padding: 16px 16px 8px 40px;
    border-bottom: 1px solid $interface_color--secondary_light;

    &__submenu{
      flex-grow: 1;
    }
    &__switcher{
      font-size: 12px; 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;

    }
    &__list{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 12px;
    }
    &__item{
      list-style-type: none;
      padding: 0 5px;
    }
  }
  &_left{
    width: 272px;
    font-size: 12px;

    &__list{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
    &__item{
      list-style-type: none;
      padding: 9px 0 9px 40px;
      box-sizing: border-box;
      cursor: pointer;
      height: 32px;
      transition: 0.5s; 

      &--active{
        background-color: $bgc--secondary-hover;
      }
      &:hover{
        background-color: $bgc--secondary-hover;
        transition: 0.5s; 
      }
    }
  }
}
.submenu--open:hover  .submenu{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}


