body{
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-weight: 500;
	font-size: 20px;
	color: $text_color--link;

	&::first-letter{
		font-size: 24px;
	}
}

h2{
	font-weight: 400;
	font-size: 20px;
	color: $text_color--link;

	&::first-letter{
		font-size: 24px;
	}

}
h3{
	font-weight: 500;
	font-size: 16px;
	color: $text_color--primary_dark;

	&::first-letter{
		font-size: 20px;
	}
}
h4{
	font-weight: 500;
	font-size: 16px;
	color: $text_color--primary_dark;

	&::first-letter{
		font-size: 20px;
	}
}

.body--theme{
  font-family: Arial, sans-serif;
  background-color: $body__bgc--color;
  color: $body__font--color;
}

