h1 {
	font-weight: 500;
	font-size: 20px;
	color: $text_color--link;

	&::first-letter{
		font-size: 24px;
	}
}

h2{
	font-weight: 400;
	font-size: 20px;
	color: $text_color--link;

	&::first-letter{
		font-size: 24px;
	}

}
h3{
	font-weight: 500;
	font-size: 16px;
	color: $text_color--primary_dark;

	&::first-letter{
		font-size: 20px;
	}
}
h4{
	font-weight: 500;
	font-size: 16px;
	color: $text_color--primary_dark;

	&::first-letter{
		font-size: 20px;
	}
}

.body--theme{
	background-color: $bgc--body-bgc;
}
.header--theme{
	background-color: $bgc--primary;
}
.main--theme{
	background-color: $bgc--primary;
}
.footer--theme{
	background-color: $bgc--primary;
}