$body__bgc--color: #f9f9f9;
$body__font--color: #505050;
///////////////////////
$calc__bgc--dark: #434649;
$calc__font--dark: #ffffff;
////////////////////////
$button__bgc--color: #e2e2e2;
$button__font--color:#666666;
$button__hover--color:#ededed;
$button__clear--color:#fcc;
///////////////////
///////////////////
$calc__bgc--light: #f2f2f2;
$calc__font--color: #ffffff;
////////////////////
$button__bgc--color: #e2e2e2;
$button__font--color:#666666;
$button__hover--color:#ededed;
$button__clear--color:#fcc;
////////////////////
