$border: 1px solid #DBDFE3;

$main-text: #141414;
$active-link: #47A3D5;
$invalid-text-color: rgba(205, 89, 89, 1);

$active-background-color: rgba(8, 137, 208, .2);
$hover-background-color: #EBEBEB;
$invalid-background-color: rgba(205, 89, 89, .2);
$main-background-color: #FFFFFF;


$navigation-left-indent: 40px;

$section-left-indent: 40px;
$section-left-form-indent: 16px;
$section-top-form-indent: 24px;
$section-left-radio-indent: 30px;

$information-component-indent: 16px;

$table-width: 700px;
$popup-width: 75%;
$popup-height: 90%;

$header-height: 60px;
$action-panel-height: 48px;