.document_reports{
  @extend .document_status;

  &__header{
    @extend .document_status__header;
  }
  &__list{
    @extend .extended_menu__list;

  }
  &__item{
    @extend .extended_menu__item;
  }
  &__link{
    color: $text_color--primary_dark;
    font-size: 1em;
    text-decoration: none;

  }

}