.document-reports{
  @extend .document-status;

  &__header{
    @extend .document-status__header;
  }
  &__list{
    @extend .extended-menu__list;

  }
  &__item{
    @extend .extended-menu__item;
  }
  &__link{
    color: $text_color--primary_dark;
    font-size: 1em;
    text-decoration: none;

  }

}