@import "navigation_top_menu.scss";
@import "right_menu_switcher.scss";

.navigation_top{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 48px;
    width: 100%;
    padding: 16px 16px 8px 40px;
    border-bottom: 1px solid $interface_color--secondary_light;
}
