.right_menu_switcher{
    font-size: 1.0em; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &__button{
        border: transparent;
        background-color: $bgc--primary;
        font-size: 0.7em;
        color: $text_color--secondary_inactive;
        font-weight: 600;
    }
  }
