.menu-switcher{
    font-size: 1.0em; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &__button{
        font-size: 0.7em;
        font-weight: 600;

        &--theme{
            color: $text_color--description;
        }
    }

  }
