@import "extended_menu-theme.scss";

.extended-menu{
    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
    }
    &__item{
      list-style-type: none;
      padding: 5px 0;
      box-sizing: border-box;
      cursor: pointer;
    }

    &__link{
        text-decoration: none;
        color: $text_color--link;
        text-transform: uppercase;
    }
}